<h1>IP Address History</h1>

<% if (error) { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
<% } %>

<% if (addresses.length > 0) { %>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>IPv4 Address</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(addresses, function (address) { %>
                <tr>
                    <td><%= address.ipv4 %></td>
                    <td><%= address.createdAt %></td>
                    <td><%= address.updatedAt %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <div class="alert alert-info" role="alert">No address records were found.</div>
<% } %>